<body background="assets/library.jpeg">
  <div class = "cen">
    <div class = "reg">
      <h1 class="registerHeader">Shipping Details</h1>
      <div class="form">
      
      <b class="mobile">MobileNo</b> <input type = "text" [(ngModel)] = 'user.mobileNo' placeholder = "MobileNo"><br/>
      <b  class="address">Address</b> <input type = "text" [(ngModel)] = 'user.address' placeholder = "Address"><br/>
      <b  class="street1">Street</b> <input type = "text" [(ngModel)] = 'street1' placeholder = "Street"><br/>
      <b  class="Landmark">Landmark</b> <input type = "text" [(ngModel)] = 'Landmark' placeholder = "Landmark"><br/>
      <b class="email">Email Address</b><input type ="text" [(ngModel)]="Email" placeholder="Email Address"><br/>
      <button class="btn btn-primary buttonBuyNow" (click)="place(book)">Place Order</button>
    </div>
  </div>
  </div>
  </body>