
<h2>List Of Books</h2>
<div class="row offset-md-1" style="margin-top: 4px">
<div class="col-md-3" *ngFor="let book of books">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://localhost:8088/RestAPI/image/{{book.imageName}}" alt="Card image cap" />
  <div class="card-body">
    <p class="card-text">{{book.description}}</p>
  </div>
  <div class="row">
<div class="col">
    <div>{{book.price | currency:'INR'}}</div>
  </div>
  <div><button class="btn btn-primary addToCart" (click)="addToCart(book)">Add To Cart</button></div>
</div>
</div> 
