.imageLib{
    color:white;
}

.bookName{
    color: white;
}

.author{
    color: white;
}

.desc{
    color: white;
}

.price{
    color: white;
}

.inputBox{
    color: white;
    margin-left: 21px;
}